@{
    ViewData["Title"] = "Home Page";
    bool isFirst = true;
    bool isFirst2 = true;
}

@section slider {
    <!-- slider section -->
    <section class="slider_section long_section">
        <div id="customCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @foreach(var item in @ViewBag.sliders) {
                    <div class="carousel-item  @(isFirst2 ? "active" : "")">
                        @{
                            isFirst2 = false;
                        }
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="detail-box">
                                        <h1>
                                            @item.Title
                                        </h1>
                                        <p>
                                            @item.Description
                                        </p>
                                        <div class="btn-box">
                                            <a href="/contact/index" class="btn1">
                                                Contact Us
                                            </a>
                                            <a href="/about/index" class="btn2">
                                                About Us
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="img-box">
                                        <img src="~/images/@item.Image" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <ol class="carousel-indicators">
                <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel" data-slide-to="1"></li>
                <li data-target="#customCarousel" data-slide-to="2"></li>
            </ol>
        </div>
    </section>
    <!-- end slider section -->
}

<!-- furniture section -->
@await Component.InvokeAsync("Furniture")
<!-- end furniture section -->

<!-- about section -->
@await Html.PartialAsync("About")
<!-- end about section -->

<!-- blog section -->
@await Component.InvokeAsync("Blog")
<!-- end blog section -->

<!-- client section -->

<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container">
            <h2>
                Testimonial
            </h2>
        </div>
        <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                @foreach(var user in @ViewBag.testimonials) {
                    <div class="carousel-item @(isFirst ? "active" : "")">
                        @{
                            isFirst = false;
                        }
                        <div class="row">
                            <div class="col-md-11 col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="~/images/@user.Image" alt=""/>
                                    </div>
                                    <div class="detail-box">
                                        <div class="name">
                                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                                            <h6>
                                                @user.Name
                                            </h6>
                                        </div>
                                        <p>
                                            @user.Comment
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="carousel_btn-container">
                <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->
<!-- contact section -->
@await Html.PartialAsync("Contact")
<!-- end contact section -->